<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ContactViewController</key>
	<string>You may call the person, send a text message or an email. You may choose whether to assign the person to you or unassign. The Facebook icon lets you view the person&apos;s Facebook profile page. You can leave a person comment with rejoicables and change its status. The 3 tabs at the bottom lets you see different information for the person. The first tab lists all the comments, the more info tab shows a more details about the person and the survey tab shows the person&apos;s answers on the surveys.  </string>
	<key>ContactsViewController</key>
	<string>The contacts tab shows all persons that are assigned to you. The completed tab shows both assigned and unassigned persons whose status is completed. The unassigned tab shows all unassigned persons regardless of stsatus. The last tab shows all leaders. From this screen you can add a new contact person, view their profile or drill down a specific leader to see a list of their contacts. You may also assign or remove leadership role by making a hold gesture on a contact to bring up the different options.</string>
	<key>MainViewController</key>
	<string>To view all contacts for your current selected organization touch the contacts menu. To answer different surveys touch the survey menu. You can change your current organization by going to your profile screen through the small icon at the top right of this screen.</string>
	<key>ProfileViewController</key>
	<string>Lets you see your current selected organization as well as change it to show different contacts on the contacts listing screen. You may also opt to show this help guideline everytime or not.</string>
	<key>LoginViewController</key>
	<string>Welcome to the Mission Hub iOS application. Please sign-in with your Facebook account to get started and access your online Mission Hub account through your phone.</string>
</dict>
</plist>
